<script type="text/x-template" id="add-payment">
    <div class="container-fluid">
        
        <div class="row mb-2" v-show="paid">
            <div class="col-md-12" >
                <div class="alert alert-success" role="alert">
                    Já existe um pagamento para esta conta. <a class="alert-link" v-on:click="removePayment()"  href="javascript:;">Remover Pagamento</a>
                </div>
            </div>
        </div>
        
        <div class="row mb-2" v-show="!paid">
            <div class="col-md-12" >
                <div class="alert alert-warning" role="alert">
                    Adicione um pagamento para marcar esta conta como paga.
                </div>
            </div>
        </div>
        
        <div class="row" >
            <div class="col-md-12" >
                <form @submit="checkForm" method="post" >
                    <div class="form-row">
                        
                        <div class="form-group col-md-4 mb-4">
                            <label>Valor *</label>
                            <input v-model.lazy="value" v-bind:class="getClassValidation(value, 'money')" money type="text" class="form-control text-right" placeholder="0.00">
                            <small class="form-text text-muted">R$ {{accountValue}}</small>
                        </div>
                        
                        <div class="form-group col-md-4 mb-4 pt-3">
                            <button type="submit" class="btn btn-primary mt-3">{{buttonText()}}</button>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>