<script type="text/x-template" id="estoque">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 pl-0 pr-0">
                <table class="table table-striped borderless">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Código</th>
                            <th>Produto</th>
                            <th>Código do Produto</th>
                            <th>Estoque</th>
                            <th>Estoque Mínimo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in skus">
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.externalId}}</td>
                            <td>{{item.productName}}</td>
                            <td>{{item.productExternalId}}</td>
                            <td>{{item.estoque}}</td>
                            <td>{{item.estoqueMin}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>