
<ul class="nav nav-tabs mt-2 pl-3 pr-3">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#homeTab1">Resumo Financeiro Analítico</a>
    </li>
<!--    <li class="nav-item">-->
<!--        <a class="nav-link" data-toggle="tab" href="#homeTab2">Estoque</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--        <a class="nav-link" data-toggle="tab" href="#homeTab3">Importar Arquivos</a>-->
<!--    </li>-->
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#homeTab4">Resumo Financeiro Sintético</a>
    </li>
</ul>


<div class="tab-content">
    <div class="tab-pane pl-0 pr-0 container-fluid active" id="homeTab1">
        <home></home>
    </div>
    <div class="tab-pane pl-0 pr-0 container-fluid fade" id="homeTab2">
        <estoque></estoque>
    </div>
    <div class="tab-pane pl-0 pr-0 container-fluid fade" id="homeTab3">
        <xml-loader></xml-loader>
    </div>
    <div class="tab-pane pl-0 pr-0 container-fluid fade" id="homeTab4">
        <resumo-financeiro-sintetico></resumo-financeiro-sintetico>
    </div>
</div>



