<script type="text/x-template" id="list-accounts">
    <div class="container-fluid">
        <div class="row mb-4 mt-3">
            <div class="col-md-6">
                <button v-on:click="addAccounts()" class="btn btn-primary">Adicionar Conta Única</button>
            </div>
            <div class="col-md-6">
                <form @submit="filter" class="form-inline justify-content-end">
                    <div class="form-group">
                        <label>Filtrar contas</label>
                        <input v-model="searchParam" type="text" class="form-control ml-2" placeholder="Palavra chave + enter">
                        <!--<button type="submit" class="btn btn-primary ml-2">Filtrar</button>
                            <button v-on:click="searchParam=''; filter();" type="button" class="btn btn-secondary ml-2">Limpar</button>-->
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pl-0 pr-0">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Descrição</th>
                                <th>Código</th>
                                <th>Valor</th>
                                <th>Tipo</th>
                                <th>Vencimento</th>
                                <th>Status</th>
                                <th>Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in filteredItems">
                                <td>{{item.id}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.externalId}}</td>
                                <td>R$ {{item.value}}</td>
                                <td>
                                    <span v-if="item.type=='P'" class="badge badge-dark">Pagar</span>
                                    <span v-if="item.type=='R'" class="badge badge-primary">Receber</span>
                                </td>
                                <td>{{item.expirationDate}}</td>
                                <td>
                                    <span v-if="item.paid" class="badge badge-info">Pago</span>
                                    <span v-if="!item.paid" class="badge badge-danger">Em aberto</span>
                                </td>
                                <td>
                                    &nbsp;
                                    <a href="javascript:;" v-on:click="duplicate(item.id)"><i class="fas fa-copy"></i></a>
                                    &nbsp;
                                    <a href="javascript:;" v-on:click="edit(item.id)"><i class="fa fa-pencil-alt"></i></a>
                                    &nbsp;
                                    <a href="javascript:;" v-on:click="remove(item.id)"><i class="fa fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>