<script type="text/x-template" id="list-nfe">
    <div class="container-fluid">
        <div class="row mb-4 mt-3">
            <div class="col-md-6">
                <button v-on:click="addNFe()" class="btn btn-primary">Emitir NFe</button>
                <button v-on:click="cancelNFe()" class="btn btn-secondary">Cancelar NFe</button>
            </div>
            <div class="col-md-6">
                <form @submit="filter" class="form-inline justify-content-end">
                    <div class="form-group">
                        <label>Filtrar</label>
                        <input v-model="searchParam" type="text" class="form-control ml-2" placeholder="Palavra chave + enter">
                        <!--<button type="submit" class="btn btn-primary ml-2">Filtrar</button>
                            <button v-on:click="searchParam=''; filter();" type="button" class="btn btn-secondary ml-2">Limpar</button>-->
                        </div>
                    </form>
                </div>
            </div>
            
            <div class="row mb-4 mt-3">
                <div class="col-md-12">
                    <div class="card w-100 mb-4">
                        <div class="card-header"><h5>Notas Emitidas</h5></div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Destinatário</th>
                                    <th>Data</th>
                                    <th>Número</th>
                                    <th>Operação</th>
                                    <th>Opções</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in filteredEmitidas">
                                    <td>{{item.xNome}}</td>
                                    <td>{{item.dhEmi}}</td>
                                    <td>{{item.nNF}}</td>
                                    <td>{{item.natOp}}</td>
                                    <td>
                                    <!--<a v-show="movement==true" href="javascript:;" v-on:click="select(item)"><i class="far fa-check-circle"></i></a>
                                        &nbsp;-->
                                        <a href="javascript:;" v-on:click="view(item.chave, item.protocolo)"><i class="fas fa-eye"></i></a>
                                        &nbsp;
                                        <a href="javascript:;" v-on:click="cancel(item.chave)"><i class="fas fa-ban"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>        
                </div>    
            </div>
                
                
            <div class="row mb-4 mt-3">
                <div class="col-md-12">
                    <div class="card w-100 mb-4">
                        <div class="card-header"><h5>Notas Canceladas</h5></div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Destinatário</th>
                                    <th>Data</th>
                                    <th>Número</th>
                                    <th>Operação</th>
                                    <th>Opções</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in filteredCanceladas">
                                    <td>{{item.xNome}}</td>
                                    <td>{{item.dhEmi}}</td>
                                    <td>{{item.nNF}}</td>
                                    <td>{{item.natOp}}</td>
                                    <td>
                                        <a href="javascript:;" v-on:click="view(item.chave, item.protocolo)"><i class="fas fa-eye"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>        
                </div>    
            </div>
        </div>        
    </div>
</script>
